


.header
    width: 90vw
    display: flex
    justify-content: space-between
    align-items: center

.web-title
    display: inline-flex
    border: 1px solid black
    font-size: 50px
    margin: 5px
    @media screen and ( max-width: 700px  )
        font-size: 36px

.nav-list
    font-size: 24px
    display: flex
    justify-content: space-around
    flex-direction: row
    li
        list-style-type: none
        margin: 0 1em
    @media screen and ( max-width: 700px  )
        font-size: 16px

.account
    a
        margin: 0 5px
        padding: 0.5em 1em
        background: red
        border: 1px solid black
        border-radius: 3px


.search-bar
    width: 10vw
    border: 3px solid #00B4CC
    border-right: none
    height: 2.6em
    border-radius: 5px 0 0 5px
    outline: none
    color: #9DBFAF
    &:focus
        color: #00B4CC
    &:first-child
        width: 6em

.search-submit
    width: 2.6em
    height: 2.6em
    border: 1px solid #00B4CC
    padding: 5px
    background: #00B4CC
    text-align: center
    color: #fff
    border-radius: 0 5px 5px 0
    cursor: pointer
    background-image: url('./img/searchIcon.png')
    background-size: 70% 70%
    background-repeat: no-repeat
    background-position: center

.search-form
    position: relative
    margin-right: 1em
    display: flex
    justify-content: center
    align-items: center


